div, span, body, p {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
h1 {
	font-size: 70px;
	font-weight: 800;
}
h2 {
	font-size: 36px;
	font-weight: 400;
}
.fill1 {
	background-color: #606060;
	width: 100%;
	margin: 0 auto;
	display: flex;
	padding: 0.25em 0.625em;	
}
.fill2 {
	background-image: url("http://static.tumblr.com/imovwvl/geokwmc65/background.png");
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
.fill2--content{
	width:50%;
	margin:0 auto;
	color:#FFF;
	padding-top:50px; 
}
.fill3{
	min-width:cover;
	margin:auto;
	padding:64px 16px;
	background-color:#616161;
	text-align:center;
	width:75%;
}
.left, .right {
	float: left;
	width: 15%; 
	padding-top:64px;
	padding-bottom:64px;
}
.description {
	font-size: 12px;
	justify-content: center;
	align-items: center;
	float: center;
	width: 70%; 
	padding: 50px 70px; 
	display: flex;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	float: left;
}
li a{
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 100px;
	text-decoration: none;
}
li a:hover{
	color:#f44336;
	background-color:#fff;
	border-radius: 10px 10px 0 0;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
.contact{
	position: absolute;
	right: -80px;
	padding: 15px;
	border-radius: 5px 0 0 5px;
	transition: 0.2s;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.contact a:hover{
right: 0;
}
.e-mail{
    bottom: 200px;
    background-color: #334045;
}
.fixedbg {
	background-image: url("https://themoreitravel.files.wordpress.com/2015/05/p1060456.jpg");
	min-height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.floatingbutton{
	opacity: 0.50;
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
}
.buttontext{
	text-align:center;
	padding:12px 24px;
	color:#fff;
	background-color:#000;
	font-size:36px;
	letter-spacing:4px;
}
