div, span, body, p {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
/* navigation */
#nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
}
#nav li {
	float: left;
}
#nav a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #000;
	text-align: center;
	padding: 0.5em 2.5em;
}
#nav a:hover{
	color:#f44336;
	background-color:#fff;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
#contact a {
	position: absolute;
	right: 0px;
	transition: 0.3s;
	text-decoration: none;
	padding: 10px;
	width: 50px;
}

#contact a:hover {
	right: 10;
}
#email{
	bottom: 80px;
	background-color: #fff;
}
