div, span, body, p {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
/* navigation */
#nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
}
#nav li {
	float: left;
}
#nav a{
	display: block;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding: 0.6em 3em;
}
#nav a:hover{
	color:#f44336;
	background-color:#fff;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
#nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
#nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#contact a {
	position: absolute;
	right: 0px;
	transition: 0.3s;
	text-decoration: none;
	padding: 10px;
	width: 50px;
}

#contact a:hover {
	right: 10px;
}
#email{
	bottom: 80px;
	background-color: #fff;
}
