div, span, body, p {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
h1 {
	font-size: 70px;
	font-weight: 800;
	margin-bottom: -30px;
}
h2{
	font-size: 36px;
	font-weight: 400;
}
.footer { 
	background-image: url(images/default.jpg); /*save as bottom of bg img separately*/
	background-color: #1e1e1e;
	color: #fff;
	padding: 5px 7px;
	font-size: 12px;
}
/* navigation */
#nav ul{
	list-style-type: none;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
}
#nav li {
	float: left;
}
#nav a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding: 0.6em 3em;
}
#nav a:hover{
	color:#f44336;
	background-color:#fff;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
#contact a {
	position: fixed;
	right: -10px;
	transition: 0.3s;
	text-decoration: none;
	padding-top: 5px;
	width: 70px;
}

#contact a:hover {
	right: 0px;
}
#email{
	bottom: 80px;
	background-color: #fff;
}
/*sections*/
.sections {
	width: 900px;
	margin: 0px auto;
	postion: relative;
}
.description {
	width: 750px;
	margin 5px 0;
	font-size: 12px;
}
.fill1 {
	background-image: url(images/default.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #d3d3d3;
	width: auto;
	padding: 70px 0;
	
}
.fill2 {
	background-color: #d3d3d3;
	width: 100%;
	height: 500px;
	padding: 70px 0 100px;
}

