div, span, body, p {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
h1 {
	font-size: 70px !important;
	font-weight: 800 !important;
}
h2{
	font-size: 36px !important;
	font-weight: 400 !important;
}
/* navigation */
#nav ul{
	list-style-type: none;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
}
#nav li {
	float: left;
}
#nav a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding: 0.6em 3em;
}
#nav a:hover{
	color:#f44336;
	background-color:#fff;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
#contact a {
	position: absolute;
	right: 0px;
	transition: 0.3s;
	text-decoration: none;
	padding: 10px;
	width: 50px;
}

#contact a:hover {
	right: 10px;
}
#email{
	bottom: 80px;
	background-color: #fff;
}
.sections {
	width: 900px;
	margin: 0px auto;
	postion: relative;
	justify-content: center;
	align-items: flex-start;
}
.description {
	width: 750px;
	font-size: 12px;
	margin 5px auto;
}
.fill1 {
	background-color: #d3d3d3;
	width: 100%;
	padding: 70px 0;
}
