div, span, body, p, a {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
	text-decoration: none;
}
h1 {
	font-size: 70px;
	font-weight: 800;
	color: #fff;
	opacity: 0.7;
	text-align: center;
}
h2{
	font-size: 50px;
	font-weight: 600;
	margin-bottom: -20px;
}
.footer { 
	background-image: url(#); /*save as bottom of bg img separately*/
	background-color: #1e1e1e;
	color: #fff;
	padding: 5px 7px;
	font-size: 12px;
}
/* navigation */
#nav ul{
	list-style-type: none;
	margin: 0px auto;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1; 
}
#nav li {
	float: left;
}
#nav a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding: 0.6em 3em;
}
#nav a:hover{
	color:#f44336;
	background-color:#fff;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
#contact a {
	position: fixed;
	right: -10px;
	transition: 0.3s;
	text-decoration: none;
	padding-top: 5px;
	width: 70px;
}

#contact a:hover {
	right: 0px;
	overflow-x: hidden;
}
#email{
	bottom: 80px;
	background-color: ;
}
#sidebar{
	float:left;
	width: 30%;
	height: 100$;
	postion: fixed;
	padding-top: 150px;
	background-color: #fff;
}
#sidebar a, .dd--button a{
	padding: 5px 10px 5px 15px;
	text-decoration: none;
}
#sidebar a:hover, .dd--button a:hover{
	color: #A9A9A9;
	text-decoration: underline #A9A9A9;
}
.dropdown {
}
.dd--container{
	display: none;
	padding left: 10px;
}
/*sections*/
.right{
	margin-left: 30%;
}
.sections {
	width: 900px;
	margin: 0px auto;
	postion: relative;
}
.description {
	width: 750px;
	margin 5px 0;
	font-size: 12px;
}
.fill1 {
	background-image: url(images/default.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #fafafa;
	width: auto;
	padding: 70px 0;
	
}
.fill2 {
	background-color: #fafafa;
	width: 100%;
	height: 500px;
	padding: 70px 0 100px;
}

