div, span, body, p {
	font-family: Cabin;
	letter-spacing: 0.05em;
	word-spacing: 1.2em;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
/* navigation */
#nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	width: 100%;
}
#nav li {
	float: left;
}
#nav a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding: 0.6em 3em;
}
#nav a:hover{
	color:#f44336;
	background-color:#fff;
}
.nav--current {
	color:#000;
	background-color:#fff;
}
#contact a {
	position: absolute;
	right: 0px;
	transition: 0.3s;
	text-decoration: none;
	padding: 10px;
	width: 50px;
}

#contact a:hover {
	right: 10px;
}
#email{
	bottom: 80px;
	background-color: #fff;
}
/*sections*/
.bg--fixed {
	background-image: url('images/default.jpg');
	min-height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.fill1 {
	height: 800px;
	background-color: #fff;
	font-size: 12px;
	text-align: center;
}
h1 {
	font-size: 70px !important;
	font-weight: 800 !important;
}
.fill2 {
	height: 800px;
	background-color: #fafafa;
	font-size: 12px;
	text-align: center;
}
