div, span, body {
	font-family: Cabin;
	color: 000000;
	line-height: 1.6;
	font-weight: 100;
}
h1 {
	font-size: 70px;
	font-weight: 800;
}
h2 {
	font-size: 36px;
	font-weight: 400;
}
.fill1 {
	background-color: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	padding: 0.25em 0.625em;	
}
.fill2 {
	background-color: #808080;
	width: 100%;
	width: 100vw;
	left: -9999px;
}
}
.left, .right {
	float: left;
	width: 15%; 
}
.container{
	float: center;
	width: 70%; 
	padding: 50px 70px; 
	display: flex;
}
.description {
	font-size: 12px;
	justify-content: center;
	align-items: center;
}
